body{
    background-color:aquamarine;
}
form,section{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: 0 auto;
    background-color: beige;
    border-radius: 5px;
    padding: 5px;
}
form div{
    display: flex;
}
label{
    width: 50%;
    font-size: 20px;
}
input{
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: beige;
}
#submit,#edit,#delete{
    align-self: center;
    padding: 5px;
    width: 10%;
    margin: 5px;
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    border: forestgreen;
}
#edit{
    background-color: blue;
    border: blue;
}
#delete{
    background-color: red;
    border: red;
}
section{
    margin: 15px auto;
    background-color: aliceblue;
}
li{
    list-style: none;
    padding: 15px;
}